<div>
  <span class="name">
    <h1>{{intro.name}}</h1>
    <h2>{{intro.career}}</h2>
  </span>
</div>
<div class="details">
  <ul>
    <li><strong>Citizenship:</strong> {{intro.citizenship}}</li>
    <li><a href="mailto:{{intro.email}}" target="_blank">{{intro.email}}</a></li>
    <li><a href="tel:{{intro.phone}}">{{intro.phone}}</a></li>
    <li><a href="{{intro.resume-url}}">{{intro.resume-url}}</a></li>
    <li>
      <a href="https://linkedin.com/in/bodeybaker"><div title="LinkedIn" class="contact-linkedin"></div></a>
      <a href="https://github.com/porcoesphino"><div title="GitHub" class="contact-github"></div></a>
    </li>
  </ul>
</div>
<div class="clear"></div>
